<%= form_with(model: tour) do |form| %>
  <% if tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
        <% tour.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<br>
<div class="field">
    <%= form.label :Copertina %>
    <%= form.file_field :cover %>
  </div>
  <br>
  <div class="form-group">
    <%= form.label :denominazione %>
    <%= form.text_field :denominazione, class:'form-control' %>
  </div>
<br>
  <div class="form-group">
    <%= form.label :descrizione %>
    <%= form.text_field :descrizione1, class:'form-control' %>
  </div>
<br>
  <div class="form-group">
    <%= form.label :descrizione_in_lingua_inglese %>
    <%= form.text_field :descrizione, class:'form-control'  %>
  </div>
<br>
  <div class="form-group">
    <%= form.label :luogo_di_partenza %>
    <%= form.text_field :luogo, class:'form-control' %>
  </div>
<br>
  <div class="form-group">
    <%= form.label :giorni_ed_orari_di_partenza %>
    <%= form.text_field :giorni, class:'form-control' %>
  </div>
<br>

 

  <div class="form-group">
    <%= form.label :durata_in_ore %>
    <%= form.number_field :durata, class:'form-control' %>
  </div>
<br>
  <div class="form-group">
    <%= form.label :numero_massimo_di_partecipanti %>
    <%= form.number_field :numero, class:'form-control' %>
  </div>
<br>
  <div class="actions">
    <%= form.submit 'Salva', class:'btn btn-success w-100' %>
  </div>
<% end %>
